*{
    margin: 0;
    padding: 0;
}
/* MOBILE FIRTS */
body{
    font-family: 'Geologica', sans-serif;
    display: grid;
    grid-template-areas:
    "navbar"
    "filtro"
    "principal"
    "footer";
}
.vertical{
    display: none;
}
.navbar{
    grid-area: navbar;
}
.navbar-brand:hover {
animation: ascend 3s;
}
.fondofiltro{
    grid-area: filtro;
    text-align: center;
}
.filtro{
    margin: 1em;
}
.principal{
    margin: 1em;;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-area: principal;
    gap: 1em;
}
.card-body{
text-align: center;
}
.footer{
    grid-area: footer;
}
.socialicon{
    margin: 1em;
    text-align: center;
}
.footflex{
    text-align: center;
    color: white;
}
/* MOBILE FIRTS */
/* TABLETA */
@media (min-width:576px){
    body{
        font-family: 'Geologica', sans-serif;
        display: grid;
        grid-template-areas:
        "navbar navbar navbar"
        "filtro planta planta"
        "filtro bar bar"
        "footer footer footer";
        grid-template-columns: 10em;
        grid-template-rows: 6em;
    }
    .fondonav{
        grid-area: navbar;
    }
    .navbar{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;

    }
    .burgernav{
        display: none;
    }
    .menu{
        margin: 2em;
        display: block;
    }
    .menu ul{
        list-style: none;
        display: flex;
    }
    .menu li{
        margin: 1em;
    }
    .fondofiltro{
        grid-area: filtro;
    }
    .principal{
        margin-top: 1em;
        margin-left: 1em;
        grid-area: planta;
        display: flex;
        gap: 1em;
    }
    .tab{
        display: block;
        margin: 0 auto;
        width: 280px;
        border-style: solid;
    }
    .tablenav{
        display: none;
    }
    .tablenavdesck{
        grid-area: bar;
        margin: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: larger;
    }
    footer{
        grid-area: footer;
    }
}
/* TABLETA */
/* DESCKTOP */
@media (min-width:992px){
    body{
        font-family: 'Geologica', sans-serif;
        display: grid;
        grid-template-areas:
        "navbar filtro filtro"
        "navbar planta planta"
        "footer bar bar";
        grid-template-columns: 15em 1fr 1fr;
        grid-template-rows: 5em 1fr 6em;
    }
    .fondonav{
        grid-area: navbar;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .menu{
        margin: 2em;
        display: block;
    }
    .menu ul{
        list-style: none;
        display: block;
    }
    .menu li{
        margin: 1em;
    }
    .burgernav{
        display: none;
    }
    .fondofiltro{
        grid-area: filtro;
    }
    #fplantas{
        width: 80%;
        text-align: center;
    }
    #fplantas option{
        text-align: center;
    }
    footer{
        grid-area: footer;
    }
    .principal{
        width: 80%;
        margin-left: 10%;
        grid-area: planta;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }
    .tablenav{
        display: none;
    }
    .tablenavdesck{
        grid-area: bar;
        margin: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: larger;
    }
    .desck{
        display: block;
        grid-area: auto;
        margin: 0 auto;
        width: 280px;
        border-style: solid;
    }
}
/* DESCKTOP */
/* KEYFRAMES */
@keyframes ascend{
    0%{
        opacity: 0;
        transform: translateY(10px);
        visibility: visible;
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
/* KEYFRAMES */