*{
    margin: 0;
    padding: 0;
}
/* MOBILE FIRTS */
body{
    font-family: 'Geologica', sans-serif;
    display: grid;
    grid-template-areas:
    "navbar"
    "filtro"
    "principal"
    "footer";
}
.navdesktop{
    display: none;
}
.navphone{
    grid-area: navbar;
}
.navbar-brand{
    width: 200px;
}
.navbar-brand:hover {
animation: ascend 3s;
}
.fondofiltro{
    grid-area: filtro;
    text-align: center;
}
.filtro{
    margin: 1em;
}
.principal{
    margin: 1em;;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-area: principal;
    gap: 1em;
}
.plantimg{
    filter: grayscale(100%);
    transition: transform 0.3s ease, filter 0.3s ease;
}
.plantimg:hover{
    filter: none;
    transform: scale(1.5);
  }
.card-body{
text-align: center;
}
footer{
    grid-area: footer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.socialicon{
    margin: 1em;
    text-align: center;
}
.footflex{
    text-align: center;
    color: white;
}
.contacto p{
    color: white;
}
/* MOBILE FIRTS */
/* TABLETA */
@media (min-width:576px){
    body{
        font-family: 'Geologica', sans-serif;
        display: grid;
        grid-template-areas:
        "navbar navbar navbar"
        "filtro planta planta"
        "filtro planta planta"
        "footer footer footer";
        grid-template-columns: 10em;
        grid-template-rows: 6em;
    }
    .navphone{
        grid-area: navbar;
    }
    .fondofiltro{
        grid-area: filtro;
    }
    .principal{
        grid-area: planta;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
        align-content: center;
        justify-content: center;
        gap: 1em;
    }
    .tablenav{
        grid-column-start: 1;
        grid-column-end: 3; 
        justify-self: center;
        align-self: center;
    }
    footer{
        grid-area: footer;
    }
}
/* TABLETA */
/* DESCKTOP */
@media (min-width:992px){
    body{
        font-family: 'Geologica', sans-serif;
        display: grid;
        grid-template-areas:
        "navbar filtro filtro"
        "navbar planta planta"
        "footer planta planta";
        /* grid-template-columns: 15em 1fr 1fr;
        grid-template-rows: 5em 1fr 6em; */
    }
    .navphone{
        display: none;
    }
    .navdesktop{
        grid-area: navbar;
        display: block;
    }
    .flex-column a{
        color: white;
    }
    .filtro{
        grid-area: filtro;
    }
    #fplantas{
        width: 70%;
        text-align: center;
    }
    .principal{
        grid-area: planta;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
        align-content: center;
        justify-content: center;
        gap: 1em;
    }
    .tablenav{
        grid-column-start: 1;
        grid-column-end: 5; 
        justify-self: center;
        align-self: center;
    }
    footer{
        grid-area: footer;
    }
}
/* DESCKTOP */
/* KEYFRAMES */
@keyframes ascend{
    0%{
        opacity: 0;
        transform: translateY(10px);
        visibility: visible;
    }
    100%{
        opacity: 1;
        transform: translate(0);
    }
}
/* KEYFRAMES */